<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'buttons.css' %}">
    <title>Button</title>
</head>
<body>
    <div class = "button-behaelter">
        <button class="button addPassword-button">
            <img src="% static 'images/add.png' %">
        </button>
        <button class="button passwordManager-button">
            <img src="% static 'images/lock.png' %">
        </button>
        <button class="button user-button">
            <img src="% static 'images/user.png' %">
        </button>
        <button class="button settings-button">
            <img src="% static 'images/setting.png' %">
        </button>
    </div>
</body>
</html>