<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'buttons.css'%}">
    <title>Button</title>
</head>
<body>
    <div class = "button-behaelter">
        <button class="button addPassword-button">
            <img src="% static 'add.png' %">
        </button>
        <button class="button passwordManager-button">
            <img src="% static 'lock.png' %">
        </button>
        <button class="button user-button">
            <img src="% static 'user.png' %">
        </button>
        <button class="button settings-button">
            <img src="% static 'setting.png' %">
        </button>
    </div>
</body>
</html>