<!DOCTYPE html>
{% load static %}
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passwort-Manager</title>
    {% csrf_token %}
    <link rel="stylesheet" href="{% static 'pwManager.css'%}">
</head>
<body>
<header>
    <h1>Passwort-Manager</h1>
    <nav>
        <ul>
            <li><a href="http://localhost:8000/home/">Startseite</a></li>
            <li><a href="#">Passwörter</a></li>
            <li><a href="http://localhost:8000/passwortgenerator/">Passwort generieren</a></li>
        </ul>
    </nav>
</header>

<main>
    <section class="overview">
        <h2>Hallo {{user.username}}</h2>
        <p>Verwalte deine gespeicherten Passwörter sicher und einfach.
        </p>
        <br>
        <button class="add-password-btn">Passwort hinzufügen</button>
    </section>

    <section class="password-list">
        <h2>Gespeicherte Passwörter</h2>
        <ul>
            <li>
                <span>Amazon.com</span>
                <button class="view-password-btn">Anzeigen</button>
            </li>
            <li>
                <span>Adidas.com</span>
                <button class="view-password-btn">Anzeigen</button>
            </li>
        </ul>
    </section>
</main>

<footer>
    <p>&copy; Ein Django-Python-Projekt von Julia Voth und Jan-Luca Kingler</p>
</footer>
</body>
</html>